@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Prompt', sans-serif;
}

/* body {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
                url('path-to-your-image.jpg') no-repeat center center fixed;
    background-size: cover;
} */

nav{
    background-color: #383838;
    padding: 15px;
}

nav a{
    color: #ffffff;
    text-decoration: none;
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head{
    display: flex;
    flex-direction: column;
    color: #5B5B5B;
    font-size: 28px;
    gap: 0px;

    justify-content: centers;
    align-items: center;

    margin-top: 2%;
}

.time{
    font-size: 48px;
    font-weight: 500;
}

.name{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.name p{
    font-size: 68px;
    font-weight: 600;
}

.card_div{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 250px;
    min-height: 250px;
}

.card{
    display: block;
    text-decoration: none;
    color: #5B5B5B;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.316);

    font-size: 24px;

    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.card img{
    width: 225px;
    height: 225px;
    opacity: 70%;

    transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@media screen and (max-width: 1000px) {
    .card_div{
        flex-direction: column;
    }

    .card div{
        min-width: none;
        min-height: none;
    }

    .card img{
        width: clamp(200px, 40vw, 350px);
        height: clamp(200px, 40vw, 350px);
    }
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 15px 30px 10px #4191D3;
}

.card img:hover {
    opacity: 0.9;
    filter: invert(53%) sepia(87%) saturate(464%) hue-rotate(167deg) brightness(85%) contrast(88%);
}